*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; 
  /*
  This defines what 1rem is.
  1rem = 10px; 10px/16px = 62.5%

  Set larger media queries first b/c they will be overwritten properly by the cascade as the smaller breakpoints occur.
  */

  @include respond(tabLand) { // width < 1200?
    font-size: 56.25%; // 1rem === 9px, 9/16px = 56.25%
  }

  @include respond(tabPort) { // width < 900?
    font-size: 50%; // 1rem === 8px, 8/16px = 50%
  }
  
  @include respond(bigDesktop) {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tabPort) {
    padding: 0;
  }
}